body {
  font-family: 'Open Sans Condensed';
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color:black;
}

* {
  box-sizing: border-box;
}

@media (max-width: 750px){
  body {
    padding: 10px 20px;
  }
}
@media (max-width: 500px){
  body {
    padding: 10px;
  }
}
